.password-generator {
    width: 100%;
    max-width: 540px;
    display: grid;
    gap: 24px;
}

.content-password {
    background-color: var(--color-dark-gunmetal);
    padding: 32px;
    display: grid;
    gap: 32px;
}

.password-options {
    display: grid;
    gap: 20px;
}
