.wrapper {
    width: 100%;
    background-color: var(--color-dark-gunmetal);
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top span.value {
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    color: var(--color-mint-green);
}

.wrapper input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}

/* Track styles */
.wrapper input[type="range"]::-webkit-slider-runnable-track {
    background: var(--color-eerie-black);
    height: 8px;
}
.wrapper input[type="range"]::-moz-range-track {
    background: var(--color-eerie-black);
    height: 8px;
}
.wrapper input[type="range"]::-ms-track {
    background: var(--color-eerie-black);
    height: 8px;
    border-color: transparent;
    color: transparent;
}

/* Thumb styles */
.wrapper input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -6px; /* Align with track */
    height: 28px;
    width: 28px;
    background: var(--color-platinum);
    border-width: 2px;
    border-color: var(--color-platinum);
    border-radius: 50%;
    cursor: pointer;
}
.wrapper input[type="range"]::-moz-range-thumb {
    height: 28px;
    width: 28px;
    background: var(--color-platinum);
    border-color: var(--color-platinum);
    border-radius: 50%;
    cursor: pointer;
}
.wrapper input[type="range"]::-ms-thumb {
    height: 28px;
    width: 28px;
    background: var(--color-platinum);
    border-color: var(--color-platinum);
    border-radius: 50%;
    cursor: pointer;
}

.wrapper input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--color-eerie-black);
    border-width: 2px;
    border-color: var(--color-mint-green);
}

.wrapper input[type="range"]::-moz-range-thumb:hover {
    background: var(--color-eerie-black);
    border-width: 2px;
    border-color: var(--color-mint-green);
}

.wrapper input[type="range"]::-ms-thumb:hover {
    background: var(--color-eerie-black);
    border-width: 2px;
    border-color: var(--color-mint-green);
}

.wrapper input[type="range"]::-moz-range-progress {
    background: var(--color-mint-green);
    height: 8px;
}
