.checkbox_container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox_container > div {
    color: var(--color-platinum);
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-platinum);
    background-color: transparent;
}

.checkbox_container:hover input ~ .checkmark {
    background-color: var(--color-platinum);
}

.checkbox_container input:checked ~ .checkmark {
    background-color: var(--color-mint-green);
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox_container .checkmark:after {
    left: 6px;
    top: 10px;
    width: 4px;
    height: 8px;
    border: solid var(--color-eerie-black);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) translate(-50%, -50%);
}
